<!--<div>-->
<!--  <input type="text" [(ngModel)]="searchCID" placeholder="Enter CID">-->
<!--  <button (click)="searchPatient()">Search</button>-->
<!--</div>-->


<header>
  <nav>
    <ul>
      <li>
        <a href="/dashboard" >
          <button type="button" class="button-30">New Medical Record</button>
        </a>
      </li>
      <li >
<!--        <app-login class="logout-button "></app-login>-->
      </li>
    </ul>
  </nav>
</header>
  <div class="logo">
    <img alt="Google" src="/assets/ipfslogo.png">
  </div>
  <div class="bar" *ngIf="CIDBar">
    <input class="searchbar" type="text" title="Search" [(ngModel)]="searchCID" placeholder="Enter CID">
    <img class="voice" src="/assets/search.svg" title="Search by Voice" (click)="searchPatient()">
  </div>

<div class="bar" *ngIf="emailBar">
  <input class="searchbar" type="text" title="Search" [(ngModel)]="email" placeholder="Enter email">
  <img class="voice" src="/assets/search.svg" title="Search by Voice" (click)="searchByEmail()">
</div>



<!--<div class="bar" *ngIf="   ">-->
<!--  <h1>makaynch</h1>-->
<!--</div>-->


<!--<button  *ngIf="CIDBar" (click)="showEmailBar()" class="button-30">Search by Email</button>-->
<button *ngIf="CIDBar" (click)="showEmailBar()" class="button-30">Search by Email</button>

<button  *ngIf="emailBar" (click)="showCIDBar()"  class="button-30">Search by Cid</button>






<!--  <div class="buttons">-->
<!--    <button class="button" type="button">Google Search</button>-->
<!--    <button class="button" type="button">I'm Feeling Lucky</button>-->
<!--  </div>-->


<ng-template #notFoundTemplate>
  <p>No patient data found.</p>
</ng-template>
